.fila {

    width: 80%;
    max-width: 1200px;
    
    border: 2px solid rgb(5, 230, 246);
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center; 
}

.fila #formulario {

    width: 50%;
    padding: 30px;
    text-align: center;
    background: rgb(48, 151, 165);
    color: azure;
    

}

.fila #card-avatar {

    width: 50%;
    padding: 30px;
    text-align: center;
    color: azure;
    background: gray;
    min-height: 780px;
    
}

.fila #formulario label{

display: block;
font-size: 20px;
color: rgb(7, 7, 7);
font-weight: 400;
margin-top: 15px;
text-align: left;
padding-left: 100px;

}

.fila #formulario input{

width: 200px;
padding: 8px 15px;
font-size: 20px;
border: 2px solid rgb(9, 226, 28);


}

.fila #formulario select{

    width: 350px;
    padding: 8px 15px;
    font-size: 20px;
    border: 2px solid rgb(9, 60, 226);



}

.fila #formulario textarea{

    width: 350px;
    padding: 8px 15px;
    font-size: 20px;
    border: 2px solid rgb(56, 9, 226);



}

.fila #formulario button{

    width: 350px;
    padding: 8px 15px;
    font-size: 20px;
    border: 2px solid rgb(13, 24, 14);
    background: rgba(128, 128, 128, 0.5);

}

.fila #card-avatar img {

width:  100px;

}

.menu {

    padding: 8px 20px;
    background: rgb(6, 85, 231);
    color: rgb(17, 16, 16);
    position: absolute;
    right: 200px;
    bottom: 100px;
    text-decoration: none;
    
    }


